/* You can add global styles to this file, and also import other style files */
/* body{
    background: linear-gradient(
        90deg
        , rgba(233,76,161,1) 0%, rgba(199,74,233,1) 100%);
 } */

 @import url(https://fonts.googleapis.com/css?family=Calibri:400,300,700);

body {
    background-color: #eee;
    font-family: 'Calibri', sans-serif !important
}
